header{
  background-color: #708090;
  text-align: center;
  font-size: 70px;
  height: 105px;
}

.box{
  padding-left: 25px;
  background-color: #EDEDED;
  height: calc(100% - 105px);
}

.row{
  margin: 0px;
}
